.list {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 6rem;
}

.UL {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    list-style-type: none;
}

.list__item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    max-width: 100%;
}

.listItem__input {
    border: none;
    background: none;
    outline: none;
    color: var(--clr-black);
    flex-grow: 1;
    /* Allow the input to grow */
    min-width: 5rem;
    /* Set a minimum width for the input */
    max-width: 100%;
    /* Prevent it from growing too large */
    overflow: hidden;
    /* Hide overflowed content */
    text-overflow: ellipsis;
    /* Add ellipsis for overflowing text */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.list__span {
    display: flex;
    max-width: calc(100% - 7rem)
}

.completed.completed::after {
    transform: scaleX(1);
}