:root {

    --clr-white: #F7F7F7;
    --clr-black: #0C0C0C;
    --clr-indigo: #0EA5E9;
    --clr-yellow: #FACC15;
    --clr-lime: #84CC16;
    --clr-pink: #DB2777;
    --clr-violet: #9333EA;

    /* sizes */

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

.light-theme {
    --clr-white: #F7F7F7;
    --clr-black: #0C0C0C;
}

.dark-theme {
    --clr-white: #0C0C0C;
    --clr-black: #F7F7F7;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inconsolata", sans-serif;
    background-color: var(--clr-white);
    color: var(--clr-black);
    transition: all 0.25s ease-in-out;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    padding: 0;
    border: none;
    background: none;
    display: inline-block;
    cursor: pointer;
}

.app {
    min-height: 100vh;
}

.path {
    stroke-opacity: 0.75;
}

li:nth-child(1) .path {
    stroke: var(--clr-yellow);
}

li:nth-child(2) .path {
    stroke: var(--clr-indigo);
}

li:nth-child(3) .path {
    stroke: var(--clr-pink);
}

li:nth-child(4) .path {
    stroke: var(--clr-lime);
}

li:nth-child(5) .path {
    stroke: var(--clr-violet);
}