.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 2rem;
}

.list__container {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

li span:has(input[type="text"]) {
    color: var(--clr-black);
    font-size: var(--size-base);
    position: relative;
}

/* li span:has(input[type="text"]):after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background-color: var(--clr-indigo);
} */

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }

    .list__container {
        max-width: 550px;
    }

    li span:has(input[type="text"]) {
        font-size: var(--size-lg);
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }


    li span:has(input[type="text"]) {
        font-size: var(--size-xl);
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .list__container {
        max-width: 700px;
    }

}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}