.header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 0rem 0.5rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .header {
        padding: 0rem 0rem;
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .header {
        padding: 0rem 2rem;
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
    .header {
        gap: 2rem;
    }
}